<h3>Dependencies</h3>


<%
    project_sid = @resource.last_snapshot.project_snapshot.id
    scopes = ['PRJ']
%>  
    
<!--Unterscheidet bzgl des Ladens der Dependencies, ob das gesamte Projekt oder ein bestimmtes Modul ausgewaehlt ist-->

<%      
	if @resource.qualifier == 'TRK'
		dependencies=Dependency.find(:all, :include => ['to','to_snapshot'], :order => "projects.kee")
	else
	    dependencies = Dependency.find(:all, :include => ['to','to_snapshot'], :conditions => ["project_snapshot_id=? and (from_scope in (?) or to_scope in (?))", project_sid, scopes, scopes], :order => "projects.kee")
 	end
%>

<!--Laedt die Projects und Versions aus der Dependency Check Page-->

<% 
	depMeasure = @snapshot.measure('dependencycheck.dependency').data
	checkedDependencies = depMeasure.split(';')
	entries = []
	dependencies.each do |dep|
		license = ""
		status = ""
		checkedDependencies.each do |checkedDep|
			d = checkedDep.split('~')
			if dep.to.key == d[0]
				license = d[1]
				status = d[2]
				status = 
					case d[2] #status
						when 'OK'
							image_tag('/images/levels/ok.png', :alt => 'OK')
						when 'UNLISTED', 'Unlisted'
							image_tag('/images/levels/error.png', :alt => 'Unlisted dependency')
						when 'WRONG_VERSION', 'Wrong Version'
							image_tag('/images/levels/warn.png', :alt => 'Wrong version')
						else
							'Unknown status'
					end
				break 
			end
		end
		if status!=''
			entries.push([dep.to.name, dep.to_snapshot.version, license, status])
		end
	end
%>
<table class="data" id="libraryTable">
<caption>This table shows either all or module specific dependencies of this project and their dependency check status. It depends on what is selected, the project it self or a certain module.</caption>
<thead>
	<tr><th>Library</th><th>Version</th><th>License</th><th>Status</th></tr>
</thead>
<tbody>
<% 	index = 1;
	entries.each do |row| 
	rowClass = ((index % 2) == 0) ? "even" : "odd" 
	index += 1 %>
<tr class="<%=rowClass %>">
<% row.each do |col| %>
	<td><%= col %></td>
<% end %>
</tr>
<% end %>
</tbody>
</table>

<!--Laedt die Licences--> 

<% licMeasure = @snapshot.measure('dependencycheck.license').data
licenses = licMeasure.split(';') %>

<h3>Licenses</h3>
  <table class="data" id="libraryTable">
  <caption>This table shows all used licenses for the current project/module. It depends on what is selected, the project it self or a certain module.</caption>
  <thead>
    <tr>
      <th><b>License</b></th>
      <th><b>URL</b></th>
    </tr>
  </thead>
  <tbody>
  <% 
    index = 1;
    licenses.each do |license|
      rowClass = ((index % 2) == 0) ? "even" : "odd"
      index += 1
      l = license.split('~') %>
    <tr class="<%=rowClass %>">
      <td><%= l[0] %></td>
      <td><a href="<%= l[1] %>"> <%= l[1] %></a></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br>
<a href="<%= ApplicationController.root_context -%>/api/export/to_csv?id=<%= @resource.id %>">
<button>Export as CSV</button>
</a>
